<mat-sidenav-container class="all-container mobile">
    <mat-sidenav class="sidebar" #sidenav position="start" mode="over" [opened]="isOpened"
        [ngStyle]="{'width': sideNavWidth}">
        <app-toolbar [screenType]="screenType"></app-toolbar>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="main_container">
        <app-display></app-display>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-sp-trend [IsShown]="IsShown" [trend]="trend" [linkTrend]="linkTrend"></app-sp-trend>
<app-sp-button (ToggleSidebar)="toggleSidebar()" (ShowTrend)="showTrend()"></app-sp-button>
<app-sp-logo [IsShown]="!isOpened"></app-sp-logo>