<ul>
    <li>
        <app-infomation></app-infomation>
    </li>
    <li>
        <a [href]="buyMeCoffee" target="_blank">
            <button mat-raised-button class="bmc-button">
                <span style="margin-left:5px">Buy me a coffee</span>
            </button>
        </a>
    </li>
    <li>
        <a [href]="youTube" target="_blank">
            <button mat-raised-button class="btn-youtube">
            </button>
        </a>
    </li>
    <li>
        <a [href]="twitter" target="_blank">
            <button mat-raised-button class="btn-twitter">
                <span style="margin-left:5px">Twitter</span>
            </button>
        </a>
    </li>
    <li class="version">
        ver.{{version}} ©{{year}} {{teamName}}
    </li>
    <li class="version">
        <a [href]="licenceUrl">licence</a>
    </li>
</ul>