.all-container {
    position: absolute;

    /* ダークモード用 */
    /* background-color: #131313; */
    background: -moz-linear-gradient(bottom, #DDA288, #8593AE 30%, #5b647c); 
    background: -webkit-linear-gradient(bottom, #DDA288, #8593AE 30%, #5b647c); 
    background: linear-gradient(to top, #DDA288, #8593AE 30%, #5b647c); 
  }

.center{
    padding: 20%;
    text-align: center;
}

.main_container{
    position: relative;
    overflow: hidden; 
}

a.trend {
    text-decoration:none;
    margin: auto 0 auto auto;
    color: #f8f5f2;
}

a.trend:hover {
    text-decoration: underline;
}

.sidebar {
    color: white;
    text-align: center;
    max-width: 100%;
    height: auto;
    /* 灰色の透過度を0にすることで、無色透明にしてある */
    background: rgba(128, 128, 128, 0);
    border: 0px;
}
